<h1>Admin Panel</h1>
<h2>Add Post</h2>
<form action="/admin/posts/addPost" tag="form" method="post" class="submit-form">
    <label for="name">Author Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>
    
    <label for="content">Content</label>
    <input id="content" type="textbox" name="content" required>  

    <input type="submit" value="Submit" onclick="">
</form>
