<h1>Admin Panel</h1>
<h2>Add User</h2>
<form action="/admin/users/addUser" tag="form" method="post" class="submit-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>  

    <input type="submit" value="Submit" onclick="">
</form>
