<h1>Admin User Management</h1>

<button><a href="/admin/users/addUser">Add User <span class="sr-only"></span></a></button>
<button><a href="/admin/users/deleteUser">Delete User <span class="sr-only"></span></a></button>
<button><a href="/admin/users/viewUser">Check User details <span class="sr-only"></span></a></button>
<button><a href="/admin/users/updateUser">Edit User details <span class="sr-only"></span></a></button>
