<h1>Admin Panel</h1>

<button><a href="/admin/users">User Management <span class="sr-only"></span></a></button>
<button><a href="/admin/posts">Post Management <span class="sr-only"></span></a></button>
<button><a href="/admin/roles">Roles Management <span class="sr-only"></span></a></button>
