<h1>Admin Post Management</h1>

<button><a href="/admin/posts/addPost">Add Post <span class="sr-only"></span></a></button>
<button><a href="/admin/posts/deletePost">Delete Post <span class="sr-only"></span></a></button>
<button><a href="/admin/posts/viewPost">Check Post details <span class="sr-only"></span></a></button>
<button><a href="/admin/posts/updatePost">Edit Post details <span class="sr-only"></span></a></button>
