<h1>Admin Panel</h1>
<h2>Delete User</h2>
<form action="/admin/users/delete" method="delete" class="submit-form">
    <label for="id">Please enter the ID of the user you want to delete:</label>
    <input type="id" id="id" name="id" required>
    
    <input type="submit" value="Submit">
</form>
