<h1>Admin Panel</h1>
<h2>Update Posts</h2>

<form action="/admin/posts/updatePost" method="patch" class="submit-form">
  <label for="name">Author Name:</label>
  <input type="text" id="name" name="name">
  
  <label for="description">Description:</label>
  <input type="text" id="description" name="description">
  
  <label for="content">Content</label>
  <input id="content" type="textbox" name="content">  

  <input type="submit" value="Submit">
</form>