  <h1>Admin Panel</h1>
  <h2>Update User</h2>

  <form action="/admin/users/updateUser" method="patch" class="submit-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    
    <label for="password">Password</label>
    <input id="password" type="password" name="password">  

    <input type="submit" value="Submit">
</form>